@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--clr-black);
    font-family: 'Rubik', sans-serif;
}

body{
    font-family:'Rubik', normal ;
    font-size: 20px;
}


main{
    padding: 2rem;
    max-width: 1000px;
    margin: 0 auto;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

div .pokemon{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    width: 400px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2{
    font-size: 25px;
    align-items: center;
}

img{
    object-fit: cover;
    object-position: top;
    width: 65%;
    height: 260px;

}